body {
	/*background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQoU2OMq7zlw0AEYAQpXNSutoWQ2lGFeEOI6OABAGfyJgjVLYhIAAAAAElFTkSuQmCC"); */
	background: #f0f8ff;
}
h1 {
	color: #283593;
	text-align: center;
}
.page-header {
	border: none;
}
.panel .panel-heading,
.modal .modal-header {
	background: #283593;
	border-radius: 5px 5px 0 0;
	color: #FAFAFA;
}
.panel-body {
    padding: 15px 25px;
}
button.close {
	color: #FFF;
	opacity: 1;
}
.close:focus,
.close:hover {
    color: #fff;
}
.projects-adv-tools {
	padding: 10px 0;
}
.btn-tasman {
	color: #fff;
	background-color: #D32F2F;
	border-color: #B71C1C;
}
.btn-tasman:hover {
	color: #fff;
	background-color: #C62828;
	border-color: #B71C1C;
}
.task.done {
	background: #F1F8E9;
}
.task.undone {
	background: #FFFDE7;
}
.show-undone-only .done {
	display: none;
}
.edit-project-init,
.remove-project-init,
.remove-task-init,
.edit-task-init,
.status-icon {
	cursor: pointer;
}
.change-task-priority {
	cursor: move;
}
.task-placeholder {
	margin: 5px -10px;
	border-style: dashed;
	padding: 15px;
	background: #f5f5f5;
}
.tasman-alert {
	display: none;
	border-color: #f18092;
	position: fixed;
	bottom: 5px;
	left: 5px;
	z-index: 1050;
	max-width: 300px;
	width: 90%;
}
.user-logged {
	display: none;
}
.level-1::after,
.level-2::after {
	line-height: 10px;
	font-size: 9px;
	background: #283593;
	color: #fff;
	padding: 2px;
	margin: 0px 0 0 3px;
	top: -7px;
	display: inline-block;
	position: relative; 
}
.level-1::after {
	content: 'admin';
}
.level-2::after {
	content: 'user';
}