body {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQoU2OMq7zlw0AEYAQpXNSutoWQ2lGFeEOI6OABAGfyJgjVLYhIAAAAAElFTkSuQmCC");
}
h1 {
	color: #283593;
	text-align: center;
}
.panel .panel-heading {
	background: #283593;
	color: #FAFAFA;
}
.projects-adv-tools {
	padding: 10px 0;
}
.btn-tasman {
	color: #fff;
	background-color: #D32F2F;
	border-color: #B71C1C;
}
.btn-tasman:hover {
	color: #fff;
	background-color: #C62828;
	border-color: #B71C1C;
}
.task.done {
	background: #F1F8E9;
}
.task.undone {
	background: #FFFDE7;
}
.edit-project,
.remove-project-init,
.remove-task,
.edit-task {
	cursor: pointer;
}