<!DOCTYPE html>
<html>
<head>
	<title>Tasman - simple task manager</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<div id="projects-wrapper" class="container">
		<div class="page-header">
			<h1>Task manager</h1>
		</div>
	</div>

	<div class="container text-center">
		<div class="btn-group">
			<button type="button" class="btn btn-tasman" data-toggle="modal" data-target="#add-project">Add project</button>
		</div>
	</div>

	<!-- Modal windows //-->
	<div class="modal fade" id="add-project" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Add new project</h4>
				</div>
				<div class="modal-body">
					Project name: <input type="text" id="newProjectName" />
					<div class="help-info"></div>
					<div class="btn-group">
						<button type="button" class="btn btn-tasman create-project">Save</button>
						<button type="button" class="btn btn-tasman" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="remove-project" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Removing project</h4>
				</div>
				<div class="modal-body">
					<div>You are going to remove project "<b class="project-name"></b>". Are you sure?</div>
					<div class="help-info"></div>
					<input type="hidden" id="rmProjectId" />
					<div class="btn-group">
						<button type="button" class="btn btn-tasman remove-project">Yes, remove it</button>
						<button type="button" class="btn btn-tasman" data-dismiss="modal">No, cancel removing</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="add-task" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Add new task</h4>
				</div>
				<div class="modal-body">
					Task name: <input type="text" id="newTaskName" />
					<input type="hidden" id="projectToAdd" />
					<div class="btn-group">
						<button type="button" class="btn btn-tasman create-task">Save</button>
						<button type="button" class="btn btn-tasman" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Templates //-->
	<script type="text/template" id="project-template">
		<div class="panel panel-default project" data-id="<%= id %>">
				<div class="panel-heading">
					<h3 class="panel-title row">
						<div class="col-sm-10 project-name">
							<%= name %> 
						</div>
						<div class="col-sm-2 text-right">
							<span class="glyphicon glyphicon-pencil edit-project" title="Edit project"></span>
							<span class="glyphicon glyphicon-trash remove-project-init" title="Remove project" data-toggle="modal" data-target="#remove-project"></span>
						</div>
					</h3>
				</div>
				<div class="panel-body">
					<div class="row projects-adv-tools">
						<div class="col-sm-6">
							Display tasks:
								<div class="btn-group">
									<button type="button" class="btn btn-default active task-visibility" data-tasks="all">all</button>
									<button type="button" class="btn btn-default task-visibility" data-tasks="undone">undone</button>
								</div>
						</div>
						<div class="col-sm-6 text-right">
							<button type="button" class="btn btn-tasman show-modal" data-modal="add-task">Add task</button>
						</div>
					</div>
					<ul class="list-group">
					<% for(var i = 0; i < tasks.length; i++) { %>
						<li class="row list-group-item task <%= tasks[i].status == 1 ? 'done':'undone' %>" data-id="<%= tasks[i].id %>">
							<div class="col-sm-10">
								<span class="glyphicon glyphicon-<%= tasks[i].status == 1 ? 'ok':'remove' %>"></span>
								<%= tasks[i].name %> 
							</div>
							<div class="col-sm-2 text-right">
								<span class="glyphicon glyphicon-pencil edit-task" title="Edit task"></span>
								<span class="glyphicon glyphicon-trash remove-task" title="Remove task"></span>
								<span class="glyphicon glyphicon-resize-vertical" title="Drag to change priority"></span>
							</div>
						</li>
					<% } %>
					
					</ul>
				</div>
			</div>
		</div>
	</script>
	<!-- Template End //-->
	<script type="text/javascript" src="js/lodash.min.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
