<!DOCTYPE html>
<html>
<head>
	<title>Tasman - simple task manager</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<header id="projects-wrapper" class="container">
		<div class="page-header">
			<h1>Task manager</h1>
		</div>
	</header>

	<main class="container">
		<div id="projects-wrapper">
		</div>

		<div class="container text-center">
			<div class="btn-group">
				<button type="button" class="btn btn-tasman" data-toggle="modal" data-target="#add-project">Add project</button>
			</div>
		</div>
	</main>

	<footer class="container">
		&copy 2017, <a href="http://br3t.org.ua" target="_blank">br3t</a>
	</footer>

	<!-- Modal windows //-->
	<div id="add-project" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Add new project</h4>
				</div>
				<div class="modal-body">
					Project name: <input type="text" id="newProjectName" />
					<div class="btn-group">
						<button type="button" class="btn btn-tasman create-project">Save</button>
						<button type="button" class="btn btn-tasman" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="edit-project" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Edit project</h4>
				</div>
				<div class="modal-body">
					Project name: <input type="text" id="editProjectName" />
					<input type="hidden" id="editProjectId" />
					<div class="btn-group">
						<button type="button" class="btn btn-tasman edit-project">Save</button>
						<button type="button" class="btn btn-tasman" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="remove-project" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Removing project</h4>
				</div>
				<div class="modal-body">
					<div>You are going to remove project "<b class="project-name"></b>". Are you sure?</div>
					<input type="hidden" id="rmProjectId" />
					<div class="btn-group">
						<button type="button" class="btn btn-tasman remove-project">Yes, remove it</button>
						<button type="button" class="btn btn-tasman" data-dismiss="modal">No, cancel removing</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="add-task" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Add new task</h4>
				</div>
				<div class="modal-body">
					<form id="add-task-form">
						<div class="form-group">
							<label for="newTaskName">Task name:</label>
							<input type="text" class="form-control" id="newTaskName" placeholder="Task Name">
						</div>
						<div class="form-group">
							<label for="newTaskDeadline">Task deadline (optional):</label>
							<div class="input-group" data-wrapper="newTaskDeadline">
								<input type="text" class="form-control" id="newTaskDeadline" placeholder="1970-12-31">
			                    <span class="input-group-addon">
			                        <span class="glyphicon glyphicon-calendar"></span>
			                    </span>
							</div>
						</div>
						<input type="hidden" id="projectToAddId" />
						<div class="btn-group">
							<button type="button" class="btn btn-tasman create-task">Save</button>
							<button type="button" class="btn btn-tasman" data-dismiss="modal">Cancel</button>
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>

		<div id="edit-task" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Edit task</h4>
				</div>
				<div class="modal-body">
					<form id="edit-task-form">
						<div class="form-group">
							<label for="taskNewName">Task new name:</label>
							<input type="text" class="form-control" id="taskNewName" placeholder="Task New Name">
						</div>
						<div class="form-group">
							<label for="taskNewDeadline">Task new deadline (optional):</label>
							<div class="input-group" data-wrapper="taskNewDeadline">
								<input type="text" class="form-control" id="taskNewDeadline" placeholder="1970-12-31">
			                    <span class="input-group-addon">
			                        <span class="glyphicon glyphicon-calendar"></span>
			                    </span>
							</div>
						</div>
						<input type="hidden" id="taskToEditId" />
						<div class="btn-group">
							<button type="button" class="btn btn-tasman edit-task">Save</button>
							<button type="button" class="btn btn-tasman" data-dismiss="modal">Cancel</button>
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="remove-task" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Removing task</h4>
				</div>
				<div class="modal-body">
					<div>You are going to remove task "<b class="task-name"></b>". Are you sure?</div>
					<input type="hidden" id="rmTaskId" />
					<div class="btn-group">
						<button type="button" class="btn btn-tasman remove-task">Yes, remove it</button>
						<button type="button" class="btn btn-tasman" data-dismiss="modal">No, cancel removing</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="alert alert-danger tasman-alert"></div>

	<!-- Templates //-->
	<script type="text/template" id="project-template">
		<div class="panel panel-default project" data-id="<%= id %>">
				<div class="panel-heading">
					<h3 class="panel-title row">
						<div class="col-sm-10 project-name">
							<span class="project-name-value"><%= name %></span> (<span class="glyphicon glyphicon-user"></span> <%= owner %>)
						</div>
						<div class="col-sm-2 text-right">
							<span class="glyphicon glyphicon-pencil edit-project-init" title="Edit project" data-toggle="modal" data-target="#edit-project"></span>
							<span class="glyphicon glyphicon-trash remove-project-init" title="Remove project" data-toggle="modal" data-target="#remove-project"></span>
						</div>
					</h3>
				</div>
				<div class="panel-body">
					<div class="row projects-adv-tools">
						<div class="col-sm-6">
							Display tasks:
								<div class="btn-group">
									<button type="button" class="btn btn-default active task-visibility" data-tasks="all">all</button>
									<button type="button" class="btn btn-default task-visibility" data-tasks="undone">undone</button>
								</div>
						</div>
						<div class="col-sm-6 text-right">
							<button type="button" class="btn btn-tasman add-task-init" data-toggle="modal" data-target="#add-task" title="Add task">Add task</button>
						</div>
					</div>
					<ul class="list-group task-group">
					<% for(var i = 0; i < tasks.length; i++) { %>
						<li class="row list-group-item ui-state-default task <%= tasks[i].status == 1 ? 'done':'undone' %>" data-id="<%= tasks[i].id %>">
							<div class="col-sm-10">
								<span class="glyphicon glyphicon-<%= tasks[i].status == 1 ? 'ok':'remove' %> status-icon" data-status="<%= tasks[i].status %>" title="Toggle status"></span>
								<span class="task-name"><%= tasks[i].name %></span>
								<% if(tasks[i].deadline !='0000-00-00') { %><span class="label label-default deadline" title="Deadline"><%= tasks[i].deadline %></span><% } %>
							</div>
							<div class="col-sm-2 text-right">
								<span class="glyphicon glyphicon-pencil edit-task-init" title="Edit task" data-toggle="modal" data-target="#edit-task"></span>
								<span class="glyphicon glyphicon-trash remove-task-init" title="Remove task" data-toggle="modal" data-target="#remove-task"></span>
								<span class="glyphicon glyphicon-resize-vertical change-task-priority" title="Drag to change priority"></span>
							</div>
						</li>
					<% } %>
					</ul>
				</div>
			</div>
		</div>
	</script>

	<!-- TODO: rm duplicated  tpl-code  //-->
	<script type="text/template" id="task-template"> 
		<li class="row list-group-item ui-state-default task <%= status == 1 ? 'done':'undone' %>" data-id="<%= id %>">
			<div class="col-sm-10">
				<span class="glyphicon glyphicon-<%= status == 1 ? 'ok':'remove' %> status-icon" data-status="<% status %>" title="Toggle status"></span>
				<span class="task-name"><%= name %></span>
				<% if(deadline !='0000-00-00') { %><span class="label label-default deadline" title="Deadline"><%= deadline %></span><% } %>
			</div>
			<div class="col-sm-2 text-right">
				<span class="glyphicon glyphicon-pencil edit-task-init" title="Edit task" data-toggle="modal" data-target="#edit-task"></span>
				<span class="glyphicon glyphicon-trash remove-task-init" title="Remove task" data-toggle="modal" data-target="#remove-task"></span>
				<span class="glyphicon glyphicon-resize-vertical change-task-priority" title="Drag to change priority"></span>
			</div>
		</li>
	</script>
	<!-- Template End //-->

	<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />

	<script type="text/javascript" src="js/lodash.min.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.ui.sortable.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/moment.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
